.git
.github
.pnpm-store
.turbo
/node_modules
/apps
/packages
/deploy
/docs
/scripts
/test
/coverage

!/.docker
!/.docker/db
!/.docker/db/**
!/.docker/playground
!/.docker/playground/**
!/.docker/stargate-next
!/.docker/stargate-next/**

**/.env
**/.env.*
